
############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

###########
## Sublime
###########

*.sublime-project
*.sublime-workspace

###########
## Pom File
##########

ue2/pom.xml
