
############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

###########
## Sublime
###########

*.sublime-project
*.sublime-workspace

###########
## Pom File + Java
##########

# ue2
ue2/pom.xml
ue2/target/*

# ue3
ue3/pom.xml
ue3/target/*

###########
# pmig
##########

folien/*
.class
